{#=====================================================
  Welcome page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2 class="welcome">Tasks To Do</h2>
    <div id="tasks">

    <ul class="task-list">
     {% for task in tasks %}
        <li class="task">
        {% if task.complete %} 🗹 {% else %} ☐ {% endif %}
            <span class="priority">{{ task.priority }}</span>
            <span class="name">{{ task.name }}</span>
            <p><a href ="/{{ task.id }}/delete">Delete</a></p>
        </li>
    {% endfor %}
    </ul>

    </div>


<form method="post" action="/new">
  
    <label>
      Name 
      <input type="text" name="name" required>
    </label>

    <label>
      Priority
      <input type="number" name="priority" required>
    </label>
  
  <button>Add Task</button>
  </form>
    
    

{% endblock %}

